#wrapper {
    min-width: 900px;
    margin-top: 3px;
    background: white;
    text-align: center;
}

#carouselMain {
    width: 900px;
    height: 300px;
    position: relative;
    margin: 20px auto;

}

#slider {
    width: 900px;
    height: 350px;
    margin-left: 120px;
    margin-top: 10px;
}

#bookMenu {
    position: absolute;
    height: 300px;
    top: 11px;
    left: -160px;
    border: 1px solid #ccc;
}

#bookMenu h4 {
    text-align: center;
    background: #4b4d52;
    color: #f2f1ea;
}

#bookMenu ul {
    margin-top: 10px;
}

#bookMenu li {
    text-align: left;
    border-bottom: #d6d2d2 solid 1px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 7px;
}

#bookMenu a:hover {
    color: #6f391e;;
}

#bookMenu a {
    color: gray;
}

#bookInformations {
    width: 100%;
    margin: 50px auto;
}

.bookInformation {
    margin: 50px auto;
    width: 90%;
}

.bookCategory {
    padding-top: 10px;
    height: 50px;
    position: relative;
    border-bottom: rgb(204, 204, 204) solid 1px;
}

.bookCategory h3 {
    float: left;
}

.bookCategory a {
    font-size: 12px;
    color: #3f4247;
}

.bookCategory a:hover {
    color: #66756b;
}

.appendH {
    position: absolute;
    right: 50px;
    top: 17px;
}

.bookRack {
    width: 100%;
    height: auto;
    /* background-color: #ccc; */
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

/*修饰书籍信息开始*/

.bookLi {
    min-width: 16%;
    text-align: center;
    height: 325px;
    overflow: hidden;
    border: 1px solid #eae1d2;
    margin-right: 25px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;
}

.bookLiAImg {
    margin: 15px auto;
    padding-bottom: 10px;
    border-bottom: gray solid 1px;
    width: 200px;
    height: 160px;
}

.bookDesc {
    margin: 0 auto;
    height: 80px;
    width: 185px;

}

.bookDesc h5 {
    color: #ae6d6a;
    font-size: 17px;
}

/*未解决多余的字体*/
.bookDesc span {
    height: 40px;
    font-size: 15px;
    display: inline-block;
    line-height: 20px;
    width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

.bookDesc span:after {
    display: inline;
    content: "...";
    font-size: 15px;
}

/*修饰书籍信息结束*/
.priceAndOrderDiv {
    width: 100%;
    height: 30px;
}

.OrderBookNow {
    float: right;
    background: #3f4247;
    color: #f2f1ea;
    padding: 8px;
    font-size: 17px;
    margin-right: 10px;
}

.OrderBookNow:hover {
    /*font-weight: 600;*/
    background-color: #626a55;
}

.bookPriceCancel {
    float: left;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 15px;
}

.bookPriceCur {
    font-size: 20px;
    float: left;
    color: #880b16;
    margin-top: 5px;
}

.silderLeftPointer {
    background: rgba(246, 246, 246, 0.6);
    position: absolute;
    margin-top: 175px;
    left: 136px;
}

.silderRightPointer {
    background: rgba(246, 246, 246, 0.6);
    position: absolute;
    margin-top: 175px;
    right: -102px;
}
