.serviceNav {
    margin-top: 30px;
    margin-left: 5%;
    width: 15%;
    background: #fafafa;
    position: absolute;
}

.serviceNav ul {
    margin: 50px auto;
}

.serviceNav li {
    margin-top: 40px;
    margin-left: 50px;
}

.serviceNav a {
    background: #fafafa;
    color: black;
    font-size: 20px;
    font-weight: 200;
}

.bookPriceCancel {
    float: left;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 15px;
}

.bookPriceCur {
    font-size: 20px;
    float: left;
    color: #880b16;
    margin-top: 5px;
    margin-left: 30px;
}

#stallAndBegBook {
    width: 70%;
    position: relative;
    /*top: 0;*/
    left: 25%;
    margin-top: 20px;
    border: 1px solid transparent;
}

/*修饰上传书摊*/
.cardBtn {
    margin-left: 60%;
    margin-top: 20px;
    /*border-bottom: 2px solid #66756b;*/
}

.cardBtn a {
    margin-right: 20px;
}

/*修饰完毕*/

/*修饰bookList开始*/
#bookStallContainer {
    margin-top: 20px;
    border-top: 1px solid #66756b;
}

.bookUl {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 20px;
    margin-top: 30px;
}

.bookList {
    width: 20%;
    min-width: 20%;
    height: 250px;
    overflow: visible;
    border: 1px solid #eae1d2;
    margin-right: 35px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;
}

/*修饰书籍信息开始*/

.bookLi {
    min-width: 19%;
    text-align: center;
    height: 325px;
    overflow: hidden;
    border: 1px solid #eae1d2;
    margin-right: 25px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;
}

.bookLiAImg {
    margin: 15px auto;
    padding-bottom: 10px;
    border-bottom: gray solid 1px;
    width: 160px;
    height: 130px;
}

.bookDesc {
    margin: 0 auto;
    height: 80px;
    width: 185px;
}

.bookDesc h5 {
    color: #ae6d6a;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*未解决多余的字体*/
.bookDesc span {
    height: 40px;
    font-size: 15px;
    display: inline-block;
    line-height: 20px;
    width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

.bookDesc span:after {
    display: inline;
    content: "...";
    font-size: 15px;
}

.priceAndOrderDiv {
    margin-top: 10px;
    margin-left: 10%;
}

.editBook {
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 3px 3px;
    left: 84%;
}

/*修饰font-awsome*/
.fa {
    /*color: #6f391e;*/
    color: #66756b;

}

.fa-square-o {
    position: absolute;
    margin: 5px;
}

.fa-check-circle-o {
    position: absolute;
    margin: 5px;
}

.fa-edit {
}

.fa-cloud-upload {
    color: #66756b;
}

.fa-close {
    color: #66756b;

}

/*修饰font-awsome结束*/

/*
        .selected {
            width: 20px;
            height: 20px;
            background: red;
            position: absolute;
            margin: 3px 3px;
        }*/

/*修饰书籍信息结束*/
